* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

section {
    margin: 200px 0;
}

.section-title {
    font-size: 45px;
    text-align: left;
}

.section-description {
    font-size: 15px;
    font-weight: 500;
    padding-top: 25px;
    text-align: left;
    padding-left: 650px;
    color: rgb(97, 97, 97);
}

.section-btn {
    background-color: white;
    border-style: none;
    color: rgb(0, 174, 255);
    height: 60px;
    width: 150px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
}

/* header styling */

.header {
    background-image: url(../images/banner/banner3.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.header-title {
    color: white;
    text-align: right;
    font-size: 70px;
    font-weight: 700;
    padding-top: 250px;
    padding-right: 250px;
    margin-bottom: 0;
}

.header-description {
    margin-top: 30px;
    color: white;
    text-align: right;
    padding-top: 0;
    padding-right: 250px;
}

.btn {
    margin-top: 30px;
    text-align: right;
    padding-right: 250px;
}


/* main styling */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* failure styling */

.failure-section {
    background-image: url(../images/person.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
}
.failure .section-title {
    padding-top: 250px;
    padding-left: 650px;

}
.list-container {
    font-size: 15px;
    font-weight: 500;
    padding-top: 25px;
    text-align: left;
    padding-left: 650px;
}

.list-container .failure-list {
    margin: 20px 0;
    color: rgb(97, 97, 97);
}
.failure-list i {
    color: rgb(72, 255, 0);
}


/* myplans styling */


.myplans-section .section-title {
    text-align: center;
    margin-bottom: 60px;
}

.myplans-container {
    padding-top: 20px;
    display: flex;
    gap: 40px;
}
.plan {
    text-align: center;
}
.myplans-title {
    padding: 20px 0;
    font-size: 25px;
    font-weight: 800;
}
.myplans-description {
    color: rgb(97, 97, 97);
    font-size: 20px;
    font-weight: 600;
}


/* call styling */

.call {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    padding-top: 40px;
    padding-left: 50px;
}
.call-btn {
    padding-top: 40px;
    text-align: left;
    
}

.call .section-title {
    color: white;
}

/* footer styling */


.footer-section {
    background-color: rgb(20, 20, 20);
    color: white;
}